* body {
    margin: 0;
}

/*header styling*/
.text-center{
    background-image: linear-gradient(to right, rgb(53, 78, 218), rgb(15, 15, 105));
    color: white;
}

.search h3 {
    font-weight: bold;
}

.display {
    margin: 0px;
    margin-right: 0px;
    
}
.day {
    width: 9rem;
    background-color: rgba(25, 6, 134, 0.877);
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
}

.five-day {
    margin: auto;
}

.card-title {
    color: white;
}

.list-unstyled {
    margin-left: 3px;
    color: white;
}
.cc {
    border: 10px black;
    width: 100%;
}

/* search section*/
.search-box {
    width: 100%;
}
.btn {
    margin-top: 15px;
    width: 100%;
}